/* body */
body{
    font-size: 15px;
}

/* main container */
#container{
    margin : 80px auto;
    background-color: white;
    height: 400px;
    width : 800px;
    border-radius: 5px;
    box-shadow: 0 0 0 10px purple, 0 0 0 20px pink, 0 0 0 30px red, 0 0 0 40px orange;
    position: relative;
}

/* Button start the quizz */
#start{
    border-radius: 10px;
    width:80px;
    height:22px;
    padding: 3px;
    border : 1px solid lightgray;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:380px;
    top:200px;
    color : white;
    background-color: #32174d;
}

/* Start button hover */
#start:hover{
    
    color: white;
    background-color : #928393;
}
/* Defining our question div */
#question{
    width:100%;
    margin-left: 182px;
    margin-bottom: 10px;
    height : 125px;  
}

/* Styling our question */
#question p{
    width: 100%;
    margin : 0;
    padding : 90px;
    font-size: 1.45rem;
    font-weight: bolder;
}

/* choices that will display */
#choices span{
    
    margin-left: 285px;  
    
}

/* choices styling */
.choice{
    color: white;
    border : 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    background-color: #32174d;
}

/* choices hovering */
.choice:hover{
    border : 1px solid grey;
    background-color : #928393;
}

/* timer div */
#timer{
    position: relative; 
    height : 100px;
    width : 200px; 
    bottom : 0px; 
    text-align: center; 
    margin-right: -80px;
    margin-top: -180px;
    
}
#counter{
    font-size: 2em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
/*  */


#para{
    text-align: center;
    
}
#heading{
    text-align: center;
    padding: 20px;
}

/* feedback regarding answers */
#correct, #incorrect{
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
}

/* Displaying score */
#scoreContainer{
    text-align: center;
    padding-top: 150px;
}

#textArea{
    padding: 2px;
}

#btn{
    margin-left: 380px;
    margin-top: 10px;
}

#span{
    margin-left: 350px;
}

#textArea{
    margin-left: 320px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    background-color: white;
    padding: 0;
    margin-left: 260px;
    margin-top: 50px;
    
  }
  
  li {
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin: 5px;
    padding: 5px;
    background-color : #e4dee8;
    color: black;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    width: 168px;
  }
   
  /* button to clear data from the local storage */
 #button{
    color : white;
    background-color: #32174d;
    margin-left: 295px;
    height:23px;
    border : 1px solid lightgray;
    border-radius: 10px;
    width: 79px;
    margin-top: 185px;
 }

 #button:hover{
    
    color: white;
    background-color : #928393;
}

a{
    text-decoration: none;
    color: #673890;
}

/* Button that will store score and username to the local storage */
#btn{
    color : white;
    background-color: #32174d;
    border : 1px solid lightgray;
    border-radius: 10px;
    height: 25px;
    width: 70px;
    margin-left: 370px;
}
#btn:hover{
    
    color: white;
    background-color : #928393;
}

.start{
    margin-left: -40px;
}

.begin{
    margin-top: 135px;
}


